@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

/* font-family: 'Oxygen', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

body {
    background: url("../image/expenseTrackerBackground.jpg") no-repeat center/cover;
    height: 100vh;
}

.container {
    padding: 5%;
}

.expense-title h1::first-letter {
    font-size: 4rem;
}

.expense-title i {
    background-color: #0D6EFD;
    color: white;
    padding: 15px;
    border-radius: 50px;
}

.expenseTracker-content {
    background-color: white;
    border-radius: 10px;
    color: black;
    max-width: 800px;
    margin: auto;
    padding: 20px 40px;
}

.expenseTracker-content .btnAdd {
    margin: 20px;
}

.table-class {
    border-radius: 5px;
}

.table-class tbody td i {
    background-color: #0D6EFD;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px;
}

@media screen and (max-width: 575px) {
    .expenseTracker-content .btnAdd {
        float: right;
        margin: 20px auto;
    }
}